body {
  margin: 0;
  padding: 0;
}

div.progress{
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #333;
  z-index: 9999999;
  transition: color 0.5s;
}

#reveal-button{
  height: 5em;
  width: 5em;
  background-color: #00f0ff;
}

.notre-content {
  width: 50vw;
  padding: 1vw;
  background-color: #fff;
}

.notre-content p {
  font-family: fantasy;
  font-size: 2em;
  color: #382b9d;
  padding-left: 4vw;
}

.fighting-irish{
  color: #247e1f;
  font-weight: 900;
  font-family: monospace;
  letter-spacing: 5px;
}

.invisible {
  visibility: hidden;
}

.shadow{
  background-color: red;
}

.container {
  width: 768px;
  height: 4430px;
  margin: 0 auto;
}

.container h1 {
  font-family: 'Delius Unicase';
  font-size: 95px;
  text-align: center;
  margin: 0px;
}

.title_container h1,
.spring_container h1,
.summer_container h1,
.fall_container h1,
.winter_container h1 {
  padding-top: 55px;
}

.title_container h3 {
font-size: 35px;
width: 296px;
margin-left: 76px;
}

.title_container {
  width: 768px;
  height: 850px;
  background-color: #FFD0D0;
}

.title_container img{
  position: absolute;
}

.spring_container {
  width: 768px;
  height: 850px;
  background-color: #5DD739;
}

 img#spring_tree {
  margin-left: 31%;
  position: relative;
  margin-top: 9%;
}

img#egg_button {
  position: relative;
}

.spring_container button{
  height: 102px;
  width: 77px;
}

.summer_container {
  width: 768px;
  height: 850px;
  background-color: #127DD9;
}

.summer_container img{
  position: relative;
  margin-left: 26%;
  margin-top: 25px;
}

.summer_container button{
  width: 120px;
  height: 190px;
}

.fall_container {
  width: 768px;
  height: 850px;
  background-color: #D5871D;
}

.fall_container img{
  margin-left: 34%;
  position: relative;
  margin-top: 60px;
}

.fall_container button{
width: 178px;
height: 135px;
}

.winter_container {
  width: 768px;
  height: 850px;
  background-color: #B7CEFF;
}

.winter_container img{
  margin-left: 20%;
  position: relative;
  margin-top: 40px;
}

.winter_container button{
  width: 167px;
  height: 200px;
}

.bottom_container {
  width: 768px;
  height: 188px;
  background-color: #FFD0D0;
}
