body{
  margin: 0;
  padding: 0;
  font-family: "Delius Unicase";
}

h1, h2{
  text-align: center;
  font-size: 85px;
  margin: 0;
}

.modal {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    visibility:hidden; /*Hidden by default*/
}

.modal.visible {
  visibility: visible;
}

.modal {
  z-index: 10; /* Sit on top */
}

.title_paragraph{
  font-size: 35px;
  margin-left: 5%;
}

.container {
  width: 768px;
  height: 4430px;
  margin: 0 auto;
  background-color: #000000;
}

.title_page{
  height: 850px;
  background-color: #FFD0D0;
  position: relative;
}

.title{
  height: 115px;
  width: 500px;
  margin-left: 17%;
}

.title_paragraph{
  height: 544px;
  width: 296px;
}

img#title_pic{
  margin-left: 45%;
  margin-top: -60%;
}

.learn_more{
  margin-left: 76.5%;
  margin-top: 81%;
  position: absolute;
  z-index: 10;
}

.fall_learn_more{
  margin-left: 72%;
  margin-top: 81%;
  position: absolute;
  z-index: 10;
}

.winter_learn_more{
  margin-left: 72%;
  margin-top: 86%;
  position: absolute;
  z-index: 10;
}

.spring_content,
.summer_content,
.fall_content,
.winter_content {
  background-color: #5DD739;
  height: 850px;
  position: relative;
}

img#spring_character,
img#summer_character,
img#fall_character,
img#winter_character {
  position: absolute;
  z-index: 4;
}

.spring_info,
.summer_info,
.fall_info,
.winter_info {
  background-color: #5DD739;
  padding: 49px;
  border: 50px solid #000000;
  border-radius: 70px;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 4.5%;
  top: 9%;
  visibility: hidden;
  display: flex;
  z-index: 11;
}

.spring_info.visible,
.summer_info.visible,
.fall_info.visible,
.winter_info.visible {
  visibility: visible;
  text-align: center;
  font-size: 25px;
}

#spring_tree img{
  margin-top: 9%;
  position: absolute;
}

img#spring_character.is_stuck {
  bottom: auto;
}

img#egg_button {
  margin-left: 79%;
  margin-top: 70%;
  position: absolute;
  z-index: 5;
}

#spring_flowers img{
  position: absolute;
  z-index: 2;
  margin-top: 112%;
  margin-left: 31%;
}

.close{
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.summer_content{
  background-color: #127DD9;
}

#summer_tree img{
  margin-left: 27%;
  margin-top: -14%;
}

img#summer_birds{
  margin-top: 11%;
  margin-left: 70%;
}

img#flag_button {
  margin-left: 72%;
  margin-top: -24%;

}

img#summer_character.is_stuck {
}

.summer_info{
  background-color: #127DD9;
}

.fall_content{
  background-color: #D5871D;
}

#fall_tree img{
  margin-left: 31%;
  margin-top: 14%;

}

img#pumpkin_button{
  margin-left: 68%;
  margin-top: -8%;
  position: absolute;
  z-index: 10;

}

img#fall_character.is_stuck {
}

#fall_leaves img{
  position: absolute;
  z-index: 8;
  margin-top: -63%;
  margin-left: 31%;
}

.fall_info{
  background-color: #D5871D;
}

.winter_content{
  background-color: #B7CEFF;
}

#winter_tree img{
  margin-left: 22%;
  margin-top: 16%;
}

img#tree_button{
  margin-left: 68%;
  margin-top: -28%;
  position: absolute;
  z-index: 10;
}

img#winter_character.is_stuck {
}

#winter_snow img{
  position: absolute;
  margin-top: -84%;
  margin-left: 14%;
}

.winter_info{
  background-color: #B7CEFF;
}

.bottom_page{
  height: 188px;
  background-color: #FFD0D0;
  position: relative;
}

a#button_top{
  height: 85px;
  width: 512px;
  margin-top: 30px;
  margin-left: 39%;
  color: black;
  text-align: center;
  line-height: 232%;
  font-weight: 600;
  font-size: 85px;
  letter-spacing: 2px;
  text-decoration: none;
}
