body{
  margin: 0;
  padding: 0;
}

h1, h2{
  text-align: center;
}

.container {
  width: 768px;
  height: 4430px;
  margin: 0 auto;
  background-color: #000000;
}

.title_page{
  height: 850px;
  background-color: #FF0000;
  position: relative;
}

.title{
  height: 115px;
  width: 500px;
  background-color: #00E0FD;
}

.title_paragraph{
  height: 544px;
  width: 296px;
  background-color: #00E0FD;
}

img#title_pic{
  margin-left: 41%;
  margin-top: -60%;
}

.spring_content{
  height: 850px;
  background-color: #CE7BCE;
  position: relative;
}

#spring_tree img{
  margin-top: 22%;
}

img#spring_character{
  position: absolute;
}

img#spring_character.is_stuck {
  bottom: auto;
}

img#egg_button {
  margin-top: -42%;
  margin-left: 72%;
  position: absolute;
  z-index: 5;
}

#spring_button{
  border-radius: 50%;
  width: 78px;
  height: 102px;
  margin-left: 137px;
  margin-top: -103px;
  position: absolute;
  z-index: 100;
  background-color: #000000;
}

.spring_info{
  background-color: #fefefe;
  padding: 40px;
  border: 1px solid #888;
  width: 505px;
  height: 505px;
  position: absolute;
  left: 11%;
  top: 17%;
  visibility: hidden;
  display: flex;
}

.spring_info.visible{
  visibility: visible;
}

.close{
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.summer_content{
  height: 850px;
  background-color: #7BCEA5;
  position: relative;
}

#summer_tree img{
  margin-left: 27%;
  margin-top: 15%;
}

img#flag_button {
  margin-top: -24%;
  margin-left: 73%;

}

img#summer_character {
  position: absolute;
}

img#summer_character.is_stuck {
}

#summer_button{
  border-radius: 50%;
  width: 122px;
  height: 116px;
  margin-left: 137px;
  margin-top: -176px;
  position: absolute;
  z-index: 100;
  background-color: #000000;
}

.summer_info{
  background-color: #fefefe;
  padding: 40px;
  border: 1px solid #888;
  width: 505px;
  height: 505px;
  position: absolute;
  left: 12%;
  top: 16%;
  visibility: hidden;
  display: flex;
}

.summer_info.visible{
  visibility: visible;
}

.fall_content{
  height: 850px;
  background-color: #BBCE7B;
  position: relative;
}

#fall_tree img{
  margin-left: 31%;
  margin-top: 14%;
}

img#pumpkin_button{
  margin-top: -24%;
margin-left: 63%;
}

img#fall_character {
  position: absolute;
}

img#fall_character.is_stuck {
}

#fall_button{
  border-radius: 50%;
  width: 173px;
  height: 116px;
  margin-left: 86px;
  margin-top: -115px;
  position: absolute;
  z-index: 100;
  background-color: #000000;
}

.fall_info{
  background-color: #fefefe;
  padding: 40px;
  border: 1px solid #888;
  width: 505px;
  height: 505px;
  position: absolute;
  left: 12%;
  top: 16%;
  visibility: hidden;
  display: flex;
}

.fall_info.visible{
  visibility: visible;
}

.winter_content{
  height: 850px;
  background-color: #CE7BB1;
  position: relative;
}

#winter_tree img{
  margin-left: 22%;
  margin-top: 16%;
}

img#tree_button{
  margin-top: -24%;
  margin-left: 67%;

}

img#winter_character {
  position: absolute;
}

img#winter_character.is_stuck {
}

#winter_button{
  border-radius: 50%;
  width: 173px;
  height: 116px;
  margin-left: 86px;
  margin-top: -115px;
  position: absolute;
  z-index: 100;
  background-color: #000000;
}

.winter_info{
  background-color: #fefefe;
  padding: 40px;
  border: 1px solid #888;
  width: 505px;
  height: 505px;
  position: absolute;
  left: 12%;
  top: 16%;
  visibility: hidden;
  display: flex;
}

.winter_info.visible{
  visibility: visible;
}

.bottom_page{
  height: 188px;
  background-color: #FF0000;
  position: relative;
}

a#button_top{
  height: 85px;
  width: 512px;
  margin-top: 30px;
  margin-left: 39%;
  color: black;
  text-align: center;
  line-height: 232%;
  font-weight: 600;
  font-size: 85px;
  letter-spacing: 2px;
  text-decoration: none;
}
